extends ../layout.pug

block content
	.container
		.row
			.col-md-4
				h1.bg-info Patient's information
		.row
			br
		.row
			br
		.well
			.row
				.col-md-4.text-center
					h4 Id card Number: 
					p #{patient.id}
				.col-md-4.text-center 
					h4 Last Name:
					p #{patient.lastName}
				.col-md-4.text-center
					h4 First Name:
					p #{patient.firstName}
			.row
				.col-md-4.text-center
					h4 Gender: 
					p #{patient.gender}
				.col-md-4.text-center 
					h4 Birth:
					p #{patient.birth}
				.col-md-4.text-center
					h4 Email:
					p #{patient.email}
			.row
				.col-md-4.text-center
					h4 Mobile Phone: 
					p #{patient.mobileNo}
				.col-md-4.text-center 
					h4 Join Time:
					p #{patient.createAt}
				.col-md-4.text-center
					h4 Last modify Time:
					p #{patient.updateAt}
		.row
			.col-md-4
				a.btn.btn-info.btn-lg view your medical records
			.col-md-4.col-md-offset-4
				a.btn.btn-success.btn-lg add the records





